<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venda-heading" data-cy="VendaCreateUpdateHeading">Criar ou editar Venda</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dataVendaRef = editForm.get('dataVenda')!;
        <div class="mb-3">
          <label class="form-label" for="field_dataVenda">Data Venda</label>
          <div class="input-group">
            <input
              id="field_dataVenda"
              data-cy="dataVenda"
              type="text"
              class="form-control"
              name="dataVenda"
              ngbDatepicker
              #dataVendaDp="ngbDatepicker"
              formControlName="dataVenda"
            />
            <button type="button" class="btn btn-secondary" (click)="dataVendaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (dataVendaRef.invalid && (dataVendaRef.dirty || dataVendaRef.touched)) {
            <div>
              @if (editForm.get('dataVenda')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        @let valorRef = editForm.get('valor')!;
        <div class="mb-3">
          <label class="form-label" for="field_valor">Valor</label>
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
          @if (valorRef.invalid && (valorRef.dirty || valorRef.touched)) {
            <div>
              @if (editForm.get('valor')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('valor')?.errors?.number">Este campo é do tipo numérico.</small>
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_usuario">Usuario</label>
          <select
            class="form-control"
            id="field_usuario"
            data-cy="usuario"
            name="usuario"
            formControlName="usuario"
            [compareWith]="compareUsuario"
          >
            <option [ngValue]="null"></option>
            @for (usuarioOption of usuariosSharedCollection; track $index) {
              <option [ngValue]="usuarioOption">{{ usuarioOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
