<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Criar nova senha</h1>

      @if (initialized() && !key()) {
        <div class="alert alert-danger">Chave de reestabelecimento não encontrada.</div>
      }

      @if (key() && !success()) {
        <div class="alert alert-warning">
          <span>Escolha uma nova senha</span>
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger">
          <span>Sua senha não pode ser trocada. Lembre-se, a requisição de troca de senha é válida apenas por 24 horas.</span>
        </div>
      }

      @if (success()) {
        <div class="alert alert-success">
          <span><strong>Sua senha foi alterada com sucesso.</strong> Por favor </span>
          <a class="alert-link" routerLink="/login">entrar</a>.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger">A senha e sua confirmação devem ser iguais!</div>
      }

      @if (key() && !success()) {
        <div>
          <form name="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label class="form-label" for="newPassword">Nova senha</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Nova senha"
                formControlName="newPassword"
                data-cy="resetPassword"
              />

              @let newPasswordRef = passwordForm.get('newPassword')!;
              @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
                <div>
                  @if (newPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">A senha é obrigatória.</small>
                  }

                  @if (newPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">A senha deve ter pelo menos 4 caracteres</small>
                  }

                  @if (newPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger">A senha não pode ter mais de 50 caracteres</small>
                  }
                </div>
              }

              <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value" />
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Confirmação de nova senha</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirme a nova senha"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
              @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
                <div>
                  @if (confirmPasswordRef?.errors?.required) {
                    <small class="form-text text-danger">A confirmação da senha é obrigatória.</small>
                  }

                  @if (confirmPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger">A confirmação da senha deve ter pelo menos 4 caracteres</small>
                  }

                  @if (confirmPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger">A confirmação da senha não pode ter mais de 50 caracteres</small>
                  }
                </div>
              }
            </div>

            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Validar nova senha</button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
