<div>
  <div class="d-flex justify-content-center">
    @if (account) {
      <div class="col-md-8">
        <h2>
          Senha para [<strong>{{ account()?.login }}</strong
          >]
        </h2>

        @if (success()) {
          <div class="alert alert-success"><strong>Senha alterada com sucesso!</strong></div>
        }
        @if (error()) {
          <div class="alert alert-danger"><strong>Ocorreu um erro!</strong> A senha não pode ser alterada.</div>
        }
        @if (doNotMatch()) {
          <div class="alert alert-danger">A senha e sua confirmação devem ser iguais!</div>
        }

        <form name="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="currentPassword">Senha atual</label>
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              name="currentPassword"
              placeholder="Senha atual"
              formControlName="currentPassword"
              data-cy="currentPassword"
            />

            @let currentPasswordRef = passwordForm.get('currentPassword')!;
            @if (currentPasswordRef.invalid && (currentPasswordRef.dirty || currentPasswordRef.touched)) {
              <div>
                @if (currentPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">A senha é obrigatória.</small>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="newPassword">Nova senha</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nova senha"
              formControlName="newPassword"
              data-cy="newPassword"
            />

            @let newPasswordRef = passwordForm.get('newPassword')!;
            @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
              <div>
                @if (newPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">A senha é obrigatória.</small>
                }

                @if (newPasswordRef?.errors?.minlength) {
                  <small class="form-text text-danger">A senha deve ter pelo menos 4 caracteres</small>
                }

                @if (newPasswordRef?.errors?.maxlength) {
                  <small class="form-text text-danger">A senha não pode ter mais de 50 caracteres</small>
                }
              </div>
            }

            <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value" />
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Confirmação de nova senha</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirme a nova senha"
              formControlName="confirmPassword"
              data-cy="confirmPassword"
            />

            @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
            @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
              <div>
                @if (confirmPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">A confirmação da senha é obrigatória.</small>
                }

                @if (confirmPasswordRef?.errors?.minlength) {
                  <small class="form-text text-danger">A confirmação da senha deve ter pelo menos 4 caracteres</small>
                }

                @if (confirmPasswordRef?.errors?.maxlength) {
                  <small class="form-text text-danger">A confirmação da senha não pode ter mais de 50 caracteres</small>
                }
              </div>
            }
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Salvar</button>
        </form>
      </div>
    }
  </div>
</div>
