<div>
  <h2 id="page-heading" data-cy="EmprestimoHeading">
    <span>Emprestimos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emprestimo"
        [routerLink]="['/emprestimo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Criar novo Emprestimo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (emprestimos().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Nenhum Emprestimo encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataEmprestimo">
              <div class="d-flex">
                <span>Data Emprestimo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataPrevistaDevolucao">
              <div class="d-flex">
                <span>Data Prevista Devolucao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataDevolucao">
              <div class="d-flex">
                <span>Data Devolucao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span>Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="usuario.id">
              <div class="d-flex">
                <span>Usuario</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itens.id">
              <div class="d-flex">
                <span>Itens</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (emprestimo of emprestimos(); track trackId(emprestimo)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/emprestimo', emprestimo.id, 'view']">{{ emprestimo.id }}</a>
              </td>
              <td>{{ emprestimo.dataEmprestimo | formatMediumDate }}</td>
              <td>{{ emprestimo.dataPrevistaDevolucao | formatMediumDate }}</td>
              <td>{{ emprestimo.dataDevolucao | formatMediumDate }}</td>
              <td>
                {{ { null: '', EM_ANDAMENTO: 'EM_ANDAMENTO', DEVOLVIDO: 'DEVOLVIDO', ATRASADO: 'ATRASADO' }[emprestimo.status ?? 'null'] }}
              </td>
              <td>
                @if (emprestimo.usuario) {
                  <div>
                    <a [routerLink]="['/usuario', emprestimo.usuario.id, 'view']">{{ emprestimo.usuario.id }}</a>
                  </div>
                }
              </td>
              <td>
                @for (itens of emprestimo.itens; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/item', itens.id, 'view']">{{ itens.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/emprestimo', emprestimo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a [routerLink]="['/emprestimo', emprestimo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(emprestimo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
