<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (item(); as itemRef) {
      <div>
        <h2 data-cy="itemDetailsHeading"><span>Item</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ itemRef.id }}</span>
          </dd>
          <dt><span>Titulo</span></dt>
          <dd>
            <span>{{ itemRef.titulo }}</span>
          </dd>
          <dt><span>Ano</span></dt>
          <dd>
            <span>{{ itemRef.ano }}</span>
          </dd>
          <dt><span>Genero</span></dt>
          <dd>
            <span>{{ itemRef.genero }}</span>
          </dd>
          <dt><span>Autor Artista</span></dt>
          <dd>
            <span>{{ itemRef.autorArtista }}</span>
          </dd>
          <dt><span>Disponibilidade</span></dt>
          <dd>
            <span>{{ itemRef.disponibilidade }}</span>
          </dd>
          <dt><span>Emprestimo</span></dt>
          <dd>
            @for (emprestimo of itemRef.emprestimos; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/emprestimo', emprestimo.id, 'view']">{{ emprestimo?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span>Venda</span></dt>
          <dd>
            @for (venda of itemRef.vendas; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/venda', venda.id, 'view']">{{ venda?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/item', itemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
