<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (usuario(); as usuarioRef) {
      <div>
        <h2 data-cy="usuarioDetailsHeading"><span>Usuario</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ usuarioRef.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ usuarioRef.nome }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ usuarioRef.email }}</span>
          </dd>
          <dt><span>Telefone</span></dt>
          <dd>
            <span>{{ usuarioRef.telefone }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/usuario', usuarioRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
