<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-livro-heading" data-cy="LivroCreateUpdateHeading">Criar ou editar Livro</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let isbnRef = editForm.get('isbn')!;
        <div class="mb-3">
          <label class="form-label" for="field_isbn">Isbn</label>
          <input type="text" class="form-control" name="isbn" id="field_isbn" data-cy="isbn" formControlName="isbn" />
          @if (isbnRef.invalid && (isbnRef.dirty || isbnRef.touched)) {
            <div>
              @if (editForm.get('isbn')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_editora">Editora</label>
          <input type="text" class="form-control" name="editora" id="field_editora" data-cy="editora" formControlName="editora" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numeroPaginas">Numero Paginas</label>
          <input
            type="number"
            class="form-control"
            name="numeroPaginas"
            id="field_numeroPaginas"
            data-cy="numeroPaginas"
            formControlName="numeroPaginas"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
