<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Bem vindo, Java Hipster!</span> (Sebo)</h1>

    <p class="lead">Esta é a página principal</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message">Você está logado como &quot;{{ accountRef.login }}&quot;.</span>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>Se deseja </span>
          <a class="alert-link" (click)="login()">entrar</a
          ><span
            >, utilize as seguintes contas padrões:<br />- Administrador (usuário=&quot;admin&quot; and senha=&quot;admin&quot;) <br />-
            Usuário (usuário=&quot;user&quot; e senha=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span>Não possui uma conta ainda?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Crie uma nova conta</a>
        </div>
      }
    </div>

    <p>Em caso de dúvida sobre o JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">Página principal JHipster</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster no Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer"
          >Sala de bate-papo pública JHipster</a
        >
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">siga &#64;jhipster no Twitter</a></li>
    </ul>

    <p>
      <span>Se você gosta do JHipster, não se esqueça de avaliar no</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p>
  </div>
</div>
