<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (emprestimo(); as emprestimoRef) {
      <div>
        <h2 data-cy="emprestimoDetailsHeading"><span>Emprestimo</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ emprestimoRef.id }}</span>
          </dd>
          <dt><span>Data Emprestimo</span></dt>
          <dd>
            <span>{{ emprestimoRef.dataEmprestimo | formatMediumDate }}</span>
          </dd>
          <dt><span>Data Prevista Devolucao</span></dt>
          <dd>
            <span>{{ emprestimoRef.dataPrevistaDevolucao | formatMediumDate }}</span>
          </dd>
          <dt><span>Data Devolucao</span></dt>
          <dd>
            <span>{{ emprestimoRef.dataDevolucao | formatMediumDate }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{
              { null: '', EM_ANDAMENTO: 'EM_ANDAMENTO', DEVOLVIDO: 'DEVOLVIDO', ATRASADO: 'ATRASADO' }[emprestimoRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span>Item</span></dt>
          <dd>
            @if (emprestimo()!.item) {
              <div>
                <a [routerLink]="['/item', emprestimo()!.item?.id, 'view']">{{ emprestimoRef.item?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Usuario</span></dt>
          <dd>
            @if (emprestimo()!.usuario) {
              <div>
                <a [routerLink]="['/usuario', emprestimo()!.usuario?.id, 'view']">{{ emprestimoRef.usuario?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/emprestimo', emprestimoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
